


          <fieldset>
            <h4>Información laboral:</h4>
            <div class="form-group">
              <label class="sr-only" for="f1-name-company">Nombre Empresa</label>
              <input type="text" name="f1-name-company" placeholder="Nombre Empresa..." class="f1-name-company form-control" id="f1-name-company">
            </div>
            <div class="form-group">
              <label class="sr-only" for="f1-nit-company">NIT</label>
              <input type="text" name="f1-nit-company" placeholder="NIT..." class="f1-nit-company form-control" id="f1-nit-company">
            </div>
            <div class="form-group">
              <label class="sr-only" for="f1-salary">Salario</label>
              <input type="text" name="f1-salary" placeholder="Salario..." class="f1-salary form-control" id="f1-salary">
            </div>
            <div class="form-group">
              <label class="sr-only" for="f1-arrival-date">Fecha de Ingreso</label>
              <input type="text" name="f1-arrival-date" placeholder="Fecha de Ingreso..." class="f1-arrival-date form-control" id="f1-arrival-date">
            </div>
            <div class="f1-buttons">
              <button type="button" class="btn btn-next">Siguiente</button>
            </div>
          </fieldset>
          
