


          <div class="animated fadeIn">
            <h4>Información laboral:</h4>
            <div class="form-group">
              <label class="sr-only" for="f1-name-company">Nombre Empresa</label>
              <input type="text" name="f1-name-company" [(ngModel)]="requestCredit.NameCompany" onkeypress="return soloLetras(event);" placeholder="Nombre Empresa..." class="f1-name-company form-control" id="f1-name-company">
            </div>
            <div class="form-group">
              <label class="sr-only" for="f1-nit-company">NIT</label>
              <input type="text" name="f1-nit-company" [(ngModel)]="requestCredit.NitCompany"  placeholder="NIT..."  onkeypress="return soloNumerosyCaracteres(event);" class="f1-nit-company form-control" id="f1-nit-company">
            </div>
            <div class="form-group">
              <label class="sr-only" for="f1-salary">Salario</label>
              <input type="text" name="f1-salary" [(ngModel)]="requestCredit.Salary"  onkeypress="return soloNumeros(event);"  placeholder="Salario..." class="f1-salary form-control" id="f1-salary">
            </div>
            <div class="form-group">
              <label class="sr-only" for="f1-arrival-date">Fecha de Ingreso</label>
              <ng-datepicker [(ngModel)]="requestCredit.AdmissionDate" name="f1-date"></ng-datepicker>
            </div>
            <div class="f1-buttons">
                <img src="./assets/img/loader.gif" width="30px" *ngIf="loading" name="loading"/>
                <button type="button" (click)="requestRegister()" [disabled]="loading" class="btn btn-next">Siguiente</button>
            </div>
          </div>
          
