USE [master]
GO
/****** Object:  Database [dbGestionDePrestamos]    Script Date: 18/04/2018 10:42:45 ******/
CREATE DATABASE [dbGestionDePrestamos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbGestionDePrestamos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\dbGestionDePrestamos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbGestionDePrestamos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\dbGestionDePrestamos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbGestionDePrestamos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbGestionDePrestamos]
GO
USE [dbGestionDePrestamos]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 18/04/2018 10:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Documento] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NOT NULL,
	[FechaNacimiento] [datetime] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudyAprobacion]    Script Date: 18/04/2018 10:42:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudyAprobacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[FechaIngresoEmpresa] [datetime] NOT NULL,
	[SalarioMensual] [int] NOT NULL,
	[NombreEmpresa] [varchar](100) NOT NULL,
	[NitEmpresa] [varchar](20) NOT NULL,
	[CreditoAprobado] [bit] NOT NULL,
 CONSTRAINT [PK_SolicitudyAprobacion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SolicitudyAprobacion]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudyAprobacion_SolicitudyAprobacion] FOREIGN KEY([Id])
REFERENCES [dbo].[SolicitudyAprobacion] ([Id])
GO
ALTER TABLE [dbo].[SolicitudyAprobacion] CHECK CONSTRAINT [FK_SolicitudyAprobacion_SolicitudyAprobacion]
GO
USE [master]
GO
