<div class="animated fadeIn">
  <h4>Complete los siguientes campos:</h4>
  <div class="form-group">
    <label class="sr-only" for="f1-first-name">Documento</label>
    <input type="text" name="f1-document" onkeypress="return soloNumeros(event);" [(ngModel)]="client.Document" placeholder="Documento..." class="f1-document form-control" id="f1-document">
  </div>
  <div class="form-group">
    <label class="sr-only" for="f1-first-name">Nombre</label>
    <input type="text" name="f1-first-name" [(ngModel)]="client.Name" onkeypress="return soloLetras(event);" placeholder="Nombre..." class="f1-first-name form-control" id="f1-first-name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="f1-last-name">Apellidos</label>
    <input type="text" name="f1-last-name" [(ngModel)]="client.LastName" onkeypress="return soloLetras(event);" placeholder="Apellidos..." class="f1-last-name form-control" id="f1-last-name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="f1-date">Fecha de Nacimiento</label>
    <ng-datepicker [(ngModel)]="client.BirthDate" name="f1-date"></ng-datepicker>
  </div>

  <div class="f1-buttons">
    <img src="./assets/img/loader.gif" width="30px" *ngIf="loading" name="loading"/>
    <button type="button" (click)="clientRegister()" [disabled]="loading" class="btn btn-next">Siguiente</button>
  </div>
</div>