<fieldset>
  <h4>Complete los siguientes campos:</h4>
  <div class="form-group">
    <label class="sr-only" for="f1-first-name">Documento</label>
    <input type="text" name="f1-document" [(ngModel)]="client.Document" placeholder="Documento..." class="f1-document form-control" id="f1-document">
  </div>
  <div class="form-group">
    <label class="sr-only" for="f1-first-name">Nombre</label>
    <input type="text" name="f1-first-name" [(ngModel)]="client.Name" placeholder="Nombre..." class="f1-first-name form-control" id="f1-first-name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="f1-last-name">Apellidos</label>
    <input type="text" name="f1-last-name" [(ngModel)]="client.LastName" placeholder="Apellidos..." class="f1-last-name form-control" id="f1-last-name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="f1-date">Fecha de Nacimiento</label>
    <input type="text" name="f1-date" [(ngModel)]="client.BirthDate" placeholder="Fecha de Nacimiento..." class="f1-date form-control" id="f1-date">
  </div>

  <div class="f1-buttons">
    <button type="button" (click)="clientRegister()" class="btn btn-next">Siguiente</button>
  </div>
</fieldset>