<!-- Top menu -->
<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top-navbar-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <span class="li-text">
            Jhonantan Plata,
          </span>
          <a href="#">
            <strong>redes</strong>
          </a>
          <span class="li-text">
            sociales:
          </span>
          <span class="li-social">

            <a href="https://twitter.com/devkaysinho" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/in/jhonantan-plata/" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
            <a href="https://github.com/kaysinho" target="_blank">
              <i class="fa fa-github"></i>
            </a>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Top content -->
<div class="top-content">
  <div class="container">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text">
        <h1>Gestión de
          <strong>Prestamos</strong>
        </h1>
        <div class="description">
          <p>
            Donde tus sueños y proyectos se hacen realidad
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
        <form role="form" action="" method="post" class="f1">

          <h3>Solicite su crédito</h3>
          <p>Registrese para comenzar el proceso</p>
          <div class="f1-steps">
            <div class="f1-progress">
              <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3" style="width: 16.66%;"></div>
            </div>
            <div class="f1-step" [ngClass]="getClassActive('register')">
              <div class="f1-step-icon">
                <i class="fa fa-user"></i>
              </div>
              <p>Datos Personales</p>
            </div>
            <div class="f1-step" [ngClass]="getClassActive('company-data')">
              <div class="f1-step-icon">
                <i class="fa fa-briefcase"></i>
              </div>
              <p>Datos Laborales</p>
            </div>
            <div class="f1-step" [ngClass]="getClassActive('success')">
              <div class="f1-step-icon">
                <i class="fa fa-spinner"></i>
              </div>
              <p>Resultado</p>
            </div>
          </div>
          <router-outlet></router-outlet>

        </form>
      </div>
    </div>

  </div>
</div>